#regi_login{
	background-color: #E6E6E6;
	border: 1px solid #CCC;
	padding: 1em;
}

form div  + div{
	margin-top: 2em;
}

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}